<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Го-клуб «Звезда»</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Го-клуб «Звезда»</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Игроки<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">О клубе</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Контакты</a>
                    </li>
                </ul>
            </div>
            <form class="form-inline">
                <button @click="openUserForm" class="btn btn-outline-success" type="button">Вступить</button>
            </form>
        </nav>

        <users-list :users="users"></users-list>
        <hr>
        <user-form></user-form>
    </div>

    <script id="users-list" type="text/x-template">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Фото</th>
                <th scope="col">Имя</th>
                <th scope="col">Титул</th>
                <th scope="col">Рейтинг</th>
                <th scope="col">Дата вступления</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(user, index) in users" :key="user.id">
                <th scope="row">{{ index + 1 }}</th>
                <td>
                    <img v-if="!user.pic" src="https://lh3.googleusercontent.com/X2Pb_rIIrbVRFZD_kUdBj0gGJw8LSduNW8a85A9aEHt0-EtqOni-ie7O_jBjtuydnzEX=w300" alt="User Pic" :title=user.name width="30px">
                    <img v-else :src=user.pic alt='User Pic' :title=user.name width="40px">
                </td>
                <td>{{ fullName(user) }}</td>
                <td>{{ user.title }}</td>
                <td>{{ user.rating }}</td>
                <td>{{ user.dateofentry }}</td>
            </tr>
            </tbody>
        </table>
    </script>

    <script id="new-user-form" type="text/x-template">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="formGroupFirstname">Имя</label>
                        <input type="text" class="form-control" id="formGroupFirstname" placeholder="Имя">
                    </div>
                    <div class="form-group">
                        <label for="formGroupLastname">Фамилия</label>
                        <input type="text" class="form-control" id="formGroupLastname" placeholder="Фамилия">
                    </div>
                    <div class="form-group">
                        <label for="formGroupPatronymic">Отчество</label>
                        <input type="text" class="form-control" id="formGroupPatronymic" placeholder="Отчество">
                    </div>
                    <div class="form-group">
                        <label for="formGroupRating">Рейтинг</label>
                        <input type="text" class="form-control" id="formGroupRating" placeholder="1280">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </script>

</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>

    var usersList = {
        name: 'UsersList',
        template: '#users-list',
        props: {
            users: {
                type: Array,
                required: true
            }
        },
        methods: {
            fullName: function (user) {
                return user.firstname + " " + user.lastname
            }
        }
    };

    var userForm = {
        name: 'UserForm',
        template: '#new-user-form'
    };

    var app = new Vue({
        el: '#app',
        components: {
            'users-list': usersList,
            'user-form': userForm
        },
        data: function () {
            return {
                users: [
                    {
                        id: 1234,
                        firstname: 'Сергей',
                        lastname: 'Валюшицкий',
                        patronymic: 'Евгеньевич',
                        title: '12 кю',
                        rating: 934,
                        dateofentry: '02 января 2015',
                        pic: 'http://www.avatarsinpixels.com/Public/images/previews/minipix4.png'
                    }, {
                        id: 1235,
                        firstname: 'Александр',
                        lastname: 'Старых',
                        patronymic: 'Александрович',
                        title: '4 кю',
                        rating: 1560,
                        dateofentry: '02 января 2015',
                        pic: 'http://www.avatarsinpixels.com/Public/images/previews/minipix3.png'
                    }, {
                        firstname: 'Ирина',
                        lastname: 'Кондратьева',
                        patronymic: 'Игоревна',
                        title: '9 кю',
                        rating: 1203,
                        dateofentry: '25 мая 2017',
                        pic: 'http://www.avatarsinpixels.com/Public/images/previews/minipix2.png'
                    }, {
                        id: 1236,
                        firstname: 'Андрей',
                        lastname: 'Горев',
                        patronymic: 'Павлович',
                        title: '13 кю',
                        rating: 840,
                        dateofentry: '5 февраля 2017',
                        pic: null
                }]
            }
        },
        methods: {
            openUserForm: function () {
                console.log("CLICK!");
            }
        }
    });
</script>
</html>